---
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";

const allBlogPosts = Object.values(
    import.meta.glob("./posts/*.mdx", { eager: true })
);
---

<Layout>
    <div class="wrapper">
        <h1 class="text-2xl ml-5">Blog Posts</h1>
        <ul>
            {
                allBlogPosts.map((post: any) => (
                    <BlogPost
                        url={post.url}
                        title={post.frontmatter.title}
                        description={post.frontmatter.description}
                        tags={post.frontmatter.tags}
                        date={post.frontmatter.pubDate}
                    />
                ))
            }
        </ul>
    </div>
</Layout>

<style>
    .wrapper {
        max-width: 1280px;
        margin: auto;
        padding-inline: 2rem;
    }
</style>
